head {

}
body {
    margin-top: 12%;
	
	
}
#background {
background-image: url(trees.jpg);
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;

}

.stretch {
    width:100%;
    height:100%;
}
h1 {
    color: navy;
    margin-left: 20px;
}
h2  {
	color: navy;

}
h3  {
	color: black;

}
h4  {
	color: navy;

}
h5  {
	color: navy;

}

table {
	background-color: grey;
}
#footer {
    margin: 0px auto;
    padding-bottom: 60px;
    width: 850px;
}
#footer .copyright {
    color: #fff;
    float: left;
    line-height: 32px;
    margin-left: 200px;
    margin-top: 10px;
    text-align: center;
}

#footer .resize {
    float: right;
    width: 400px;
}